body{
    background-color: rgb(214, 195, 108);
}

.head{
    font-size: 30px;
    font-weight: 300;
    text-decoration: underline;
    background-color: red;
    background-image:linear-gradient(to right, red 10% , green 60%, yellow  );
    /* background-image: linear-gradient(red, yellow); */
    border: 2px;
    text-align: center;

}

.sec{
    background-color: yellowgreen;
    text-align: center;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
}
.lorem{
    background-color: rgb(46, 211, 12);
    margin:55px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    border: 7px solid green;
    padding: 10px;
    border-radius: 20px;
    

}
.same{
    background-color: turquoise;
    border: 5px solid red;
    padding: 20px;
    border-radius: 20px;
}
.shead{
    font-size: 30px;
    font-weight: 300;
    text-decoration: underline;
    background-color: red;
    background-image:radial-gradient( red , rgb(230, 216, 32)  );
    /* background-image: linear-gradient(red, yellow); */
    border: 2px;
    text-align: center;
}
.top{
    background-image:radial-gradient( rgb(187, 255, 0) , rgb(197, 12, 243)  );

    /* background-color: royalblue; */
    border: 5px solid green;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.s {
    font-weight: 500;
    background-color: rgb(248, 252, 6);
    border: 5px solid red;
    border-radius: 20px;
    text-decoration: underline;
    color: red;
    padding: 30px;
}
 .lh{
     letter-spacing: 2px;
     word-spacing: 4px;
     font-weight: 600;
     padding: 10px;
     text-align: center;
background-color: crimson;
color: white;
 }
 .final{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 10px;
     height: 200px;
     padding: 10px;

 }
 .fo{
    padding: 10px;
    background-color: green;
    column-rule-color: white;
    

}
.fs{
    padding: 10px;
    background-color: rgb(81, 8, 110);
    column-rule-color: white;
    

}
.fth{
    padding: 10px;
    background-color: rgb(76, 196, 150);
    column-rule-color: white;
    
}
.ffr{
    background-color: rgb(196, 236, 18);
    column-rule-color: white;
    grid-column: 1 / span 3;
    padding: 10px;
}
.list{margin-left: 5px;
    display: grid;
    border: 5px rgb(0, 0, 0); 
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 2px;
    padding: 5px;
    text-transform: capitalize;
}
.ss{
    text-transform: capitalize;

    color: white;
    background-color: blueviolet;
    border: 5px rgb(0, 0, 0); 
}
.big{
    display: flex;
    justify-items: auto;

}


 
